Repository LA1TV/Roses-CasparCG-Graphics, pull requests merged in 2018-04, with the labels that each got.

#92 Add Netball
  public/admin/templates/netball.tmpl.html
  public/css/theme.css
  public/index.html
  public/js/cg.js
  public/js/dashboard.js
  server.js
Labels: Netball, Roses 2018

#90 Add Score Progress bar to Roses
  public/admin/templates/roses.tmpl.html
  public/css/theme.css
  public/images/logo.png
  public/images/rose_red.png
  public/images/rose_white.png
  public/index.html
  public/js/cg.js
  public/js/dashboard.js
  server.js
Labels: Enhancement, Roses 2018, Roses Live

#93 Adds better grid functionality
  public/admin/templates/grid.tmpl.html
  public/css/theme.css
  public/index.html
  public/js/dashboard.js
Labels: Grid, UI

#102 Add dropdown animation to grid, and fix bug
  public/admin/templates/grid.tmpl.html
  public/css/theme.css
  public/index.html
  public/js/cg.js
Labels: Grid
